@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body, html {
	background: url('https://i.imgur.com/qfD4Fmz.png') no-repeat fixed center center;
	font-family: 'Montserrat', sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;


}

header {
	 margin-bottom: 20px;
}

.bg-dark {
	background-color: rgba(0, 0, 0, 0.7)!important; 
}


.navbar-dark .navbar-nav .nav-link.active {
	color: lightblue;
	font-weight: 300;
}

.container {
	display: flex;
  	justify-content: center;
  	align-items: center;
  	height: 100vh;

}

.typed-citation {

	
	text-shadow: 0 1px 4px #000;
	color: #fff;
	font-weight: 900;
	font-size: 70px;
	letter-spacing: 0.8px;
	margin: 0;
	padding: 15px;
}


.citation {
	
	font-weight: 600;
    letter-spacing: 1px;
    line-height: 2.5;
    margin: 0 0 15px;
    text-shadow: 0 1px 4px #000;
    color: #fff;
    font-size: 16px;
    padding: 15px;
}


